@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --color-bg-header : rgb(252, 196, 151);
    --color-bg-title:#fff1c3;
    --color-bg-content:#fff9dc;
    --color-bg-list:rgb(255, 247, 211);
    --color-bg-accent: #ff9253;
}

*{
    font-family: "Pretendard Variable" ;
    font-size: 16px;
    padding :0;
    margin: 0;
    outline: none;
}

body{
    background: rgb(236,244,255);
    background: linear-gradient(90deg, rgba(236,244,255,1) 0%, rgba(254,255,255,1) 50%, rgba(240,237,255,1) 100%);
}

a{
    text-decoration: none;
}

button {
    background-color: #fff;
    border: none;
}

.container{
    width: 330px;
    border: 1px solid #eee;
    position: relative;
    overflow: hidden;
    margin: auto;
    transform: translate(0, 35%);
    box-shadow: 0 0 10px #bdbdbc;
}