@charset "UTF-8";
@import url('common.css');

/*  .title-kr , .title-eng    */
.title-kr{font-size: 24px; margin-bottom: 50px;}
.title-eng{font-size: 35px; font-weight: bold; margin-bottom:30px;}
/*  .main-txt  */
.main-txt{position:absolute; top:45%; left:150px; transform:translate(-30%,-50%); color:#fff;}
/* button style  */
.btn-move{position:absolute; z-index: 999; top:50%; left:250px; width:60px; line-height:60px; border:0.5px solid #fff; text-align: center; color:#fff;}
.btn-move:hover{box-shadow: 1px 1px 5px #fff;}
.btn-move:nth-child(2){left:auto; right:250px;}
.btn-more{position:relative;z-index: 3; width:200px; line-height: 50px; border-radius: 50px; border:1px solid #fff; text-align: center; overflow:hidden;box-shadow: 1px 1px 5px #222; font-family: 'Titillium Web', 'Noto Sans KR',sans-serif;}
.btn-more.learn span{text-shadow: 1px 1px 3px #222; color:#fff;}
.btn-more.learn:hover span{position:relative;z-index:9;color:#222; text-shadow: none; transition:color 0.5s;}
.btn-more.learn:hover:before{width:100%; }
.btn-more:before{content: ''; position:absolute; top:0; left:0;  display:block; opacity:0.7; width:0; height:50px; background:#f0f5f9; transition:width 0.5s; z-index: 1; }
.btn-more.view{position:relative; margin: 30px auto; transition: all 0.4s;}
.btn-more.view > span{position:relative; z-index:99;}
.btn-more.view:hover{color:#222;}
.btn-more.view:hover:before{width:100%;}
.btn-more.view:before{content:''; display:block;position:absolute;top:0;left:0;width:0%;height:100%;background:#f0f5f9; transition: width 0.4s;}
/* section > sub 공통 */
.sub .title{font-size: 43px;font-family: 'Titillium', 'Noto Sans KR', sans-serif; text-align: center;}
.sub:first-child .text{color:#585858; text-align: center; margin-bottom: 30px;}
.sub:first-child .text.li{ text-align: left; font-size: 15px;margin-bottom:20px;padding: 10px 15px 0 15px; word-break: keep-all; }
.sub:first-child .list-title{font-size: 20px; color:#222; margin:20px 0; padding-left:15px;}
.sub .text{font-size: 17px; color:#fff; margin:10px 0; padding-left: 15px;}
/* main > section 공통 */
main > section{height:100vh; width:100%; overflow:hidden; box-sizing: border-box;}
main > section .sub.content{box-sizing: border-box;}
main > section .content{padding: 70px 0;}
/* main > #sec01 (main-visual)*/
main > #sec01 > .slide-list{position:relative;height:100%;}
main > #sec01 > .slide-list > li{position:absolute;top:0;left:0; width:100%; height:100%; display:none; background:url(../img/main01_pc.jpg) no-repeat center / cover; display:none;}
main > #sec01 > .slide-list > li.show{display:block;}
main > #sec01 > .slide-list > li.hide{display:none;}
main > #sec01 > .slide-list > li.fade-in{display: block; animation: slide-fade-in 0.7s ease-out 0s 1 normal forwards;}
main > #sec01 > .slide-list > li.fade-out{display: block; animation: slide-fade-out 0.7s ease-out 0s 1 normal forwards;}
main > #sec01 > .slide-list > li:nth-child(2){background-image: url(../img/main02_pc.jpg);}
main > #sec01 > .slide-list > li:nth-child(3){background-image: url(../img/main03_pc.jpg);}
main > #sec01 > .slide-list > li:nth-child(4){background-image: url(../img/main04_pc.jpg);}
main > #sec01 > .slide-list > li:nth-child(4) .main-txt{left:380px;}
main > #sec01 > .slide-list > li:nth-child(2n) .main-txt,
main > #sec01 > .slide-list > li:nth-child(2n+1) .main-txt{left:300px;}
/* main > #sec02 (비즈니스) */
main > #sec02 .busi-list{display:flex;}
main > #sec02 .busi-list > li{width:270px; box-shadow: 1px 1px 5px #888;}
main > #sec02 .busi-list > li > a{height:100%;}
main > #sec02 .busi-list > li+li{margin-left: 30px;}
main > #sec02 .busi-list > a > img{width:270px; height:366px;}
/* main > #sec03  (신기술)*/
main > #sec03 h2.title{margin-bottom:30px;}
main > #sec03 .btn-more.view{margin:15px auto;}
main > #sec03 .container{display:flex; width:100%;}
main > #sec03 .container > div > a:first-child{position:relative; width:100%; height:547px; overflow:hidden;}
main > #sec03 .container > div > a > img{position:absolute;top:0;left:0; width:100%;height:100%;transition:transform 0.4s;}
main > #sec03 .container > div > a:hover > img{transform:scale(1.1);}
main > #sec03 .container > div{width:48%;}
main > #sec03 .container > div+div{margin-left:2%;}
main > #sec03 .container > div p.text{margin:20px 0 0 0;}
main > #sec03 .container .tech-text{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); color:#fff; text-align: center;}
main > #sec03 .container .tech-text span{display:inline-block;font-size: 42px;width:70px; line-height: 70px; border:1px solid #fff; border-radius: 50%;margin-top:80px;}
/* main > #sec04 (사회공헌)*/
main > #sec04{background: linear-gradient(90deg, #07255d 50%, #FFFFFF 50%);}
main > #sec04 .btn-more.view{margin:0;}
main > #sec04 > .sub.content{display:flex; position:relative; top:150px; width:1200px;}
main > #sec04 > .sub.content > .public-text{width:470px; margin-right:60px; color:#fff; padding: 80px 0 0 20px; }
main > #sec04 > .sub.content > .public-text h3.title-kr{margin-bottom: 10px;}
main > #sec04 > .sub.content > .public-text h3.title-eng{position:relative;}
main > #sec04 > .sub.content > .public-text h3.title-eng:after{content: ''; display:block; width: 80px; height:1px; background:#fff; position:absolute; left: 0; bottom: -12px;}
main > #sec04 > .sub.content > .public-text .text{color:#fff; text-align: left; padding:0 0 0 0;}
main > #sec04 > .sub.content > .public-img{display:flex; flex-wrap: wrap; width:600px; height:450px; margin-left:100px;}
main > #sec04 > .sub.content > .public-img li{width:255px; height:200px;}
main > #sec04 > .sub.content > .public-img li:nth-child(2n){margin-left:30px;} /*li 레이아웃*/
main > #sec04 > .sub.content > .public-img img{width:100%; height:173px;} 
main > #sec04 > .sub.content > .public-img .text{color:#222; text-align: left; margin:5px 0;}
/* main > #about */
main > #about{height:480px; background: url(../img/main_foot_bg.jpg) no-repeat center /cover; color:#fff; padding:70px;}
main > #about > .sub.content{display:flex;}
main > #about > .sub.content > .about-text {position: relative; top: -5px;}
main > #about > .sub.content > .about-text > .text{text-align: left; padding:0; margin: -20px 100px 25px 0; color:#fff; font-weight: 300;}
main > #about > .sub.content > .about-text > h3 > span{font-weight: normal;}
main > #about > .sub.content > .about-link{display:flex;}
main > #about > .sub.content > .about-link > li{width:220px; height:220px; background:rgba(0, 0, 0, 0.30); padding:30px 0; box-sizing: border-box;} 
main > #about > .sub.content > .about-link > li > a{width:100%; height:100%;}
main > #about > .sub.content > .about-link > li+li{margin-left:20px;}
main > #about > .sub.content > .about-link > li > a > span{display:block; padding:0 10px;text-align: center;}
main > #about > .sub.content > .about-link > li:hover{box-shadow: 0px 0px 3px #fff;}
main > #about > .sub.content > .about-link > li > a > span:first-child{font-size: 50px;}
main > #about > .sub.content > .about-link > li > a > span+span{color:#ccc; font-size: 14px; margin-top: 10px;}
/* popup-box */
#wrap > #popup-box{display:none; position:fixed; top:0; left:0; z-index:9999; width:100vw; height:100vh; background:rgba(0,0,0,0.7)}
#wrap > #popup-box.show{display:block;}
#wrap > #popup-box > .popup-inner-box{position:relative; width:1040px; margin: 200px auto; background:#fff;border-top:3px solid #07255d;}
#wrap > #popup-box > .popup-inner-box > a.btn-exit-popup{position:absolute; display:block; right:30px;top:5px; width:50px; height:50px; font-size: 40px; color:#222;}
#wrap > #popup-box > .popup-inner-box > a.btn-exit-popup:before{content: ''; display:block; width:40px; height:3px; position:absolute; top:50%;left:50%; transform:translate(-50%,-50%) rotate(-45deg); background:#222}
#wrap > #popup-box > .popup-inner-box > a.btn-exit-popup:after{content: ''; display:block; width:40px; height:3px; position:absolute; top:50%;left:50%; transform:translate(-50%,-50%) rotate(45deg); background:#222;}
#wrap > #popup-box > .popup-inner-box > ul{overflow:hidden; padding:30px 0;}
#wrap > #popup-box > .popup-inner-box > ul > li{width:33%; float:left; box-sizing: border-box; padding:0 20px;}
#wrap > #popup-box > .popup-inner-box > ul > li > a{font-size: 17px; color:#224e6b; padding: 20px 0 20px 30px; border-bottom: 2px solid #07255d;}
#wrap > #popup-box > .popup-inner-box > ul > li > ul > li{border-bottom: 1px solid #ccc;}
#wrap > #popup-box > .popup-inner-box > ul > li > ul > li > a{display: block;width:240px; height:50px; padding-left: 30px; line-height: 50px; font-size: 14px;}
#wrap > #popup-box > .popup-inner-box > ul > li > ul > li > ul{overflow:visible}
#wrap > #popup-box > .popup-inner-box > ul > li > ul > li > ul > li{position:relative;}
#wrap > #popup-box > .popup-inner-box > ul > li > ul > li > ul > li:before{content: '-'; display:block;position:absolute; left: 50px;}
#wrap > #popup-box > .popup-inner-box > ul > li > ul > li > ul > li > a{display:block; width:240px; height:30px; line-height:30px; font-size: 13px; padding-left:60px}

/***************   media  ***************/
/* ~1480px */
@media all and (max-width : 1480px){
    .btn-move:first-child{left:50px; right:250px;}
    main > #sec01 > .slide-list > li .main-txt{left:300px};  
}
/* ~1200px */
@media all and (max-width : 1200px){

    .title-kr{font-size: 20px;}
    .title-eng{font-size: 38px;}
    div.content{width:auto;}
    .btn-move:first-child{left:50px; right:250px;}
    .btn-move:nth-child(2){left:auto; right:150px;}
    /* #sec02 */
    main > #sec02 .sub.content{padding:30px 0 0 0;}
    main > #sec02 .sub.content > p.text{margin-bottom: 10px;}
    main > #sec02 .busi-list{margin: 0 50px;}
    main > #sec02 .busi-list > li > a > p.text.li, .sub:first-child .text{font-size: 14px;}
    /* #sec03 */
    main > #sec03 .container > div > a:first-child{height:307px; margin-top: 50px;}
    /* #sec04 */
    main > #sec04 > .sub.content > .public-img li{width:240px; height:150px;}
    /* #about */
    main > #about > .sub.content > .about-link > li{width:180px; height:180px; padding: 25px 0;}
}
/* ~1080px */
@media all and (max-width : 1072px){
    .title-kr{font-size: 18px;}
    .title-eng{font-size: 32px;}
    /* #sec02 */
    main > #sec02 .busi-list > li > a > h3.list-title{font-size: 16px;}
    /* #sec03 */
    main > #sec03 .container > div > a:first-child{height:380px; margin-top: 40px;}
    /* #sec04 */
    main > #sec04 > .sub.content > .public-img{margin-left:0px;}
    main > #sec04 > .sub.content > .public-img li{width:200px; height:150px;}
    /* #about */
    main > #about > .sub.content > .about-text > .text{max-width:350px; word-break: keep-all; margin-right:40px;}
    /* popup-box */
    #wrap > #popup-box > .popup-inner-box{width:auto;}
}
/* ~870px */
@media all and (max-width : 870px){
    #sec01 .title-kr{font-size: 18px; word-break: keep-all;}
    #sec01 .title-eng{font-size: 32px;}
    .title-kr{font-size: 15px; margin-bottom: 50px;}
    .title-eng{font-size: 15px; font-weight: bold; margin-bottom: 50px;}
    .btn-more{width:100px; line-height: 30px; font-size: 14px;}
    .sub .title{font-size: 24px;font-family: 'Titillium', 'Noto Sans KR', sans-serif; text-align: center;}
    /* #sec01 */
    main > #sec01 > .btn-move{display:none;}
    main > #sec01 > .slide-list > li:nth-child(4) .main-txt{left:150px;}
    main > #sec01 > .slide-list > li:nth-child(2n) .main-txt,
    main > #sec01 > .slide-list > li:nth-child(2n+1) .main-txt{left:130px;}
    /* #sec02 */
    main > #sec02{height:1150px}
    main > #sec02 .busi-list{flex-wrap: wrap; justify-content: center; margin: 0 10px;}
    main > #sec02 .busi-list > li+li{margin-left: 0;}
    main > #sec02 .busi-list > li{width:45%; margin: 10px; box-sizing: border-box;}
    main > #sec02 .busi-list > li:nth-child(4){margin-right: -1px;}
    main > #sec02 .busi-list > li > a > img{width: 100%; height:260px;}
    main > #sec02 .busi-list > li > a > h3.list-title{margin: 5px 0;}
    main > #sec02 .busi-list > li > a > p.text.li{ padding:0 20px; font-size: 13px; margin-top: 10px}
    /* #sec03 */
    main > #sec03 > .sub.content{padding-top:0;}
    main > #sec03 .container{display:block;}
    main > #sec03 .container > div {width: 100%;  margin: 0 auto;}
    main > #sec03 .container > div+div{margin-left:0; margin: 0 auto;}
    main > #sec03 .container > div > a:first-child{ margin:0 auto; width:80%; height:250px;}
    main > #sec03 .container > div > a > img{width:100%;}
    main > #sec03 .container > div{text-align: center;}
    main > #sec03 .container .tech-text:nth-child(2) .title-kr,.title-eng{margin-bottom:0;}
    main > #sec03 .container .tech-text span{margin-top: 20px;}
    main > #sec03 .container > div p.text{letter-spacing: -1px; margin-top:10px;}
    /* #sec04 */
    main > #sec04{ background:none; height: 1450px; margin-top: -200px;}
    main > #sec04 > .sub.content{display:block;  position:relative; width:auto; }
    main > #sec04 > .sub.content > .public-text{ background: #07255d; color:#fff; padding: 30px 0 30px 35px; }
    main > #sec04 > .sub.content > .public-text h3{margin: 0 0 5px 0;}
    main > #sec04 > .sub.content > .public-text .text{color:#fff; text-align: left; padding:0; margin: 30px 0;}
    main > #sec04 > .sub.content > .public-img{display:flex; flex-wrap: wrap; justify-content: center; margin-top:50px; width:auto;}
    main > #sec04 > .sub.content > .public-img li{width:80%; height:180px; margin-bottom:40px;}
    main > #sec04 > .sub.content > .public-img li:nth-child(2n){margin-left:0} /*li 레이아웃*/
    main > #sec04 > .sub.content > .public-img img{width:100%; height:173px;} 
    main > #sec04 > .sub.content > .public-img .text{color:#222; text-align: left; margin:5px 0; }
    /* #about */
    main > #about{height:380px; background: url(../img/main_foot_bg.jpg) no-repeat center /cover; color:#fff; padding:70px;}
    main > #about > .sub.content > .about-text{position:relative; margin-top:-55px; left:-30px;}
    main > #about > .sub.content > .about-text > p.text{font-size: 13px; margin: 10px 0;}
    main > #about > .sub.content > .about-link{display:flex; margin: -120px 0 0 50px; flex-wrap: wrap; justify-content: center; width:auto;}
    main > #about > .sub.content > .about-link > li{width:100%; height:48%; padding: 10px 0; }
    main > #about > .sub.content > .about-link > li+li{margin-left: 0; margin-top:10px;} 
    main > #about > .sub.content > .about-link > li > a{width:100%; height:100%;}
    main > #about > .sub.content > .about-link > li > a > span{display:block; padding:0 10px;text-align: center; ;}
    main > #about > .sub.content > .about-link > li > a > span:first-child{font-size: 25px;}
    main > #about > .sub.content > .about-link > li > a > span+span{ font-size: 12px; margin-top: 0;}
    /* popup-box */
    #wrap > #popup-box > .popup-inner-box > ul > li > a{font-size: 14px;}
    #wrap > #popup-box > .popup-inner-box > ul > li > ul > li > a{font-size: 12px;padding-left:5px;}
    #wrap > #popup-box > .popup-inner-box > ul > li > ul > li > ul > li:before{left:10px;}
    #wrap > #popup-box > .popup-inner-box > ul > li > ul > li > ul > li > a{padding-left: 20px; font-size: 11px;}
    #wrap > #popup-box > .popup-inner-box > a.btn-exit-popup{right:10px; top:-1px;}
    #wrap > #popup-box > .popup-inner-box > a.btn-exit-popup:before{width:30px;}
    #wrap > #popup-box > .popup-inner-box > a.btn-exit-popup:after{width:30px;}
}